body{
    height: 100vh;
    background: linear-gradient(
        to bottom, 
    darkblue, darkblue 10%, 
    rgb(173, 216, 230) 10%, rgb(173, 216, 230) 45%,
    rgb(255, 255, 255) 45%, rgb(255, 255, 255) 100%);
}
.BB{
    color: white;
    margin-left: 30%;
}
.menu{
    background-color: darkblue;
    height: 40px;
    width: 40%;
    margin-left: 30%;
}
.menuC{
    display: inline;
}

.lefty{
    width: 18%;
    margin-top: 20%;
    margin-left: 30%;
    background-color: darkblue;
}
.righty{
    width: 18%;
    margin-left: 54%;
    margin-top: 20%;
    background-color: darkblue;
}