.box{
    width: 20%;
    min-height: 100vh;
    float: left;
}
.box1{
    background-color: green;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: red;
}
.box4{
    background-color: yellow;
}
.box5{
    background-color: orange;
}