body{
    background-color: black;
}

.bigbox {
    position: relative;
    width: 600px;
    height: 200px;
}

.box1 {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 255, 0, .5);
    top: 10%;
}

.box2 {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 255, 0, .5);
    top: 5%;
    left: 5%;
}

.box3 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color:  rgba(0, 255, 0, .5);
    left: 10%;
}