td{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.a{
    background: radial-gradient(circle, darkgrey, white);
}
.b{
    background: radial-gradient(circle, white, white, darkgray);
}
.c{
    background: linear-gradient(to top right, red, yellow);
}
.d{
    background: linear-gradient(to bottom right, red, yellow);
}